<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isDebug</key>
	<true/>
	<key>speakText</key>
	<true/>
	<key>scenes</key>
	<array>
		<dict>
			<key>title</key>
			<string>Scene and Nodes</string>
			<key>actions</key>
			<array>
				<string>Hello and welcome to SpriteKit 101.</string>
				<string>I am a node and so is the label up here. We sit on top of a scene; which is our world.</string>
				<string>That on the right is a portal for the next Level. Tap to move me there.</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Actions</string>
			<key>actions</key>
			<array>
				<string>That was weird.</string>
				<string>Speaking of weird. I matalking using a A V Speech Synthesizer. Isn&apos;t that cool?</string>
				<string>Let&apos;s create an action so I can move freely</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Sprite Textures</string>
			<key>actions</key>
			<array>
				<string>Ok, somehow better, Although I look like a freaking ghost.</string>
				<string>I have legs, let&apos;s use them. </string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Physics</string>
			<key>actions</key>
			<array>
				<string>Ohh, Booty! Actually those are just other nodes.</string>
				<string>They have a physic body with properties that describe them</string>
				<string>Also they are set as dynamic, which means they interact with each other</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>Physics and Gravity</string>
			<key>actions</key>
			<array>
				<string>The scene itself has a physic body and a body gravity</string>
				<string>That will effect all the objects in differnt ways based on their characteristics</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string> ... more Gravity</string>
			<key>actions</key>
			<array>
				<string>ahhhhh</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
