<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isDebug</key>
	<true/>
	<key>scenes</key>
	<array>
		<dict>
			<key>title</key>
			<string>Scene and Nodes</string>
			<key>code</key>
			<string>Explain what is a scene and what are nodes and the varius kind of nodes</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Actions and Sprites</string>
			<key>code</key>
			<string>Explain actions and how to apply a walking sprite</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Collisions</string>
			<key>code</key>
			<string>Explain collisions</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Physic Body</string>
			<key>code</key>
			<string>Explain physic body and how gravity is affected</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Minmax Strategist</string>
			<key>code</key>
			<string>What a strategist is and how to implement it</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Pathfinding</string>
			<key>code</key>
			<string>Put obstacles on the scene and make the user dodge them</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Agents</string>
			<key>code</key>
			<string>Expalin agents</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Rules</string>
			<key>code</key>
			<string>Explain Rules</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Thank you</string>
			<key>code</key>
			<string>@cescofry</string>
		</dict>
	</array>
</dict>
</plist>
